<div class="box blue">
  <h4>The Team</h4>
  <p>We have a great staff of volunteers. Learn more about them!</p>
  <a href="/about/staff/" class="button button-blue">Meet the team <i class="fa fa-users"></i></a>
</div>

<div class="box yellow">
  <h4>Printing</h4>
  <p>Why make a printed book in the first place? We could publish in digital media, after all…</p>
  <a href="/about/printing/" class="button button-yellow">Learn more <i class="fa fa-book"></i></a>
</div>

<div class="box green">
  <h4>Profitability</h4>
  <p>Does the <em>Atlas of Design</em> profit from contributors?</p>
  <a href="https://atlasofdesign.org/2023/10/08/profitability-statement/" class="button button-green">Learn more <i class="fa fa-book"></i></a>
</div

<div class="box">
  <h4>License</h4>
  <p>All maps featured in the <em>Atlas of Design</em>, and on this website, are the intellectual property of their respective creators/copyright holders, and are used with permission. Please contact the copyright holder of the map for inquiries about licensing their work.</p>
  <p>The <em>Atlas of Design</em> and the contents of this website are <i class="fa fa-copyright"></i> NACIS (<a href="http://nacis.org">nacis.org</a>). Text on the site, unless a quotation from one of our contributors, is licensed according to a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
</div>