<div class="box image">
  <img src="/img/volumes/vol6/AtlasofDesign_EDITED28.jpg">
</div>
<div class="box red">
  <h4>About Volume 6</h4>
  <p>Volume 6 was released in 2022 and features 32 map designs.</p>
  <a href="/six" class="button button-red">View the maps in Vol 6 <i class="fa fa-map-o"></i></a>
</div>

<div class="box image">
  <img src="/img/proof_small.jpg">
</div>
<div class="box blue">
  <h4>About the Atlas</h4>
  <p>The Atlas of Design was founded in 2012. The sixth volume was released in 2022.</p> 
  <a href="/about" class="button button-blue">Learn more <i class="fa fa-hand-o-right"></i></a>
</div>
