<div class="box image">
  <img src="/img/vol2_headerwebsite_small.jpg">
</div>
<div class="box red">
  <h4>Purchase Volume 5</h4>
  <p>You can purchase Volume 5 right now! Learn more about the featured maps.</p>
  <a href="/five" class="button button-red">View the maps in Vol 5 <i class="fa fa-map-o"></i></a>
</div>

<div class="box image">
  <img src="/img/proof_small.jpg">
</div>
<div class="box blue">
  <h4>About the Atlas</h4>
  <p>The Atlas of Design was founded in 2012. The fifth volume was released in 2020.</p> 
  <a href="/about" class="button button-blue">Learn more <i class="fa fa-hand-o-right"></i></a>
</div>
