<div class="box image">
  <img src="/img/volumes/vol6/AtlasofDesign_EDITED28.jpg">
</div>
<div class="box red">
  <h4>About Volume 7</h4>
  <p>Volume 7 was released in 2024 and features 33 map designs.</p>
  <a href="/seven" class="button button-red">View the maps in Vol 7 <i class="fa fa-map-o"></i></a>
</div>

<div class="box image">
  <img src="/img/proof_small.jpg">
</div>
<div class="box blue">
  <h4>About the Atlas</h4>
  <p>The Atlas of Design was founded in 2012. The seventh volume was released in 2024.</p> 
  <a href="/about" class="button button-blue">Learn more <i class="fa fa-hand-o-right"></i></a>
</div>
