<section id="email">
  <div class="container">
    <div id="mc_embed_signup">
      <form action="//nacis.us8.list-manage.com/subscribe/post?u=b291c347b8ebef6786aba0535&amp;id=7c28137466" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        
        <p id="subscribe-email">
          <input type="email" value="Enter your email for updates ..." onclick="if ( this.value == 'Enter your email for updates ...' ) { this.value = ''; }" onblur="if ( this.value == '' ) { this.value = 'Enter your email for updates ...'; }"  name="EMAIL" class="subscribe-field" id="mce-EMAIL" required>
        </p>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b291c347b8ebef6786aba0535_7c28137466" tabindex="-1" value=""></div>
          <div class="clear" id="subscribe-submit">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-red"></div>
          </div>
      </form>
    </div>
  </div>
</section>