<section id="email">
  <div class="container">
    <div class="widget jetpack_subscription_widget">
      <form action="" method="post" accept-charset="utf-8" id="subscribe-blog-459">
        
        <p id="subscribe-email">
          <input type="text" name="email" value="Enter your email for updates ..." id="subscribe-field" onclick="if ( this.value == 'Enter your email for updates ...' ) { this.value = ''; }" onblur="if ( this.value == '' ) { this.value = 'Enter your email for updates ...'; }" />
        </p>
        
        <p id="subscribe-submit">
          <input type="hidden" name="action" value="subscribe"/>
          <input type="hidden" name="source" value="http://atlasofdesign.org/" />
          <input type="hidden" name="sub-type" value="widget" />
          <input type="hidden" name="redirect_fragment" value="459" />
          <input type="hidden" id="_wpnonce" name="_wpnonce" value="6633a83888" />
          <input type="submit" class="button button-red" value="Signup" name="jetpack_subscriptions_widget" />
        </p>
      </form>
    </div>
  </div>
</section>