<footer>
  <div class="container">
    <ul>
      <li><img src="/img/chevron.svg"></li>
      <li><a href="https://twitter.com/NACIS_Atlas" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/atlasofdesign" target="_blank">Facebook</a></li>
      <li><a href="/feed.xml">RSS</a></li>
      <li><a href="/about/license">License</a></li>
      <li><a href="/about/printing">Printing</a></li>
      <li><a href="/purchase" target="_blank">Purchase</a></li>
      <li class="right"><a href="http://nacis.org" target="_blank"><img class="nacis" src="/img/nacis-logo.png"></a></li>
    </ul>
  </div>
</footer>