.row {
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8,
.block-9,
.block-10,
.block-11,
.block-12 {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 50em) {
    .block-1,
    .block-2,
    .block-3,
    .block-4,
    .block-5,
    .block-6,
    .block-7,
    .block-8,
    .block-9,
    .block-10,
    .block-11,
    .block-12 {
      float: left; } }
  .block-1.block-right,
  .block-2.block-right,
  .block-3.block-right,
  .block-4.block-right,
  .block-5.block-right,
  .block-6.block-right,
  .block-7.block-right,
  .block-8.block-right,
  .block-9.block-right,
  .block-10.block-right,
  .block-11.block-right,
  .block-12.block-right {
    float: right; }
  .block-1.block-padding,
  .block-2.block-padding,
  .block-3.block-padding,
  .block-4.block-padding,
  .block-5.block-padding,
  .block-6.block-padding,
  .block-7.block-padding,
  .block-8.block-padding,
  .block-9.block-padding,
  .block-10.block-padding,
  .block-11.block-padding,
  .block-12.block-padding {
    padding: 1px 1.5em; }
  .block-1.block-pad-left,
  .block-2.block-pad-left,
  .block-3.block-pad-left,
  .block-4.block-pad-left,
  .block-5.block-pad-left,
  .block-6.block-pad-left,
  .block-7.block-pad-left,
  .block-8.block-pad-left,
  .block-9.block-pad-left,
  .block-10.block-pad-left,
  .block-11.block-pad-left,
  .block-12.block-pad-left {
    padding-left: 1em; }
  .block-1.block-pad-right,
  .block-2.block-pad-right,
  .block-3.block-pad-right,
  .block-4.block-pad-right,
  .block-5.block-pad-right,
  .block-6.block-pad-right,
  .block-7.block-pad-right,
  .block-8.block-pad-right,
  .block-9.block-pad-right,
  .block-10.block-pad-right,
  .block-11.block-pad-right,
  .block-12.block-pad-right {
    padding-right: 1em; }
  .block-1.block-margin,
  .block-2.block-margin,
  .block-3.block-margin,
  .block-4.block-margin,
  .block-5.block-margin,
  .block-6.block-margin,
  .block-7.block-margin,
  .block-8.block-margin,
  .block-9.block-margin,
  .block-10.block-margin,
  .block-11.block-margin,
  .block-12.block-margin {
    margin: 0 1.5em; }

@media (min-width: 50em) {
  .block-1 {
    width: 8.33333%; }
  .block-2 {
    width: 18%; }
  .block-3 {
    width: 25%; }
  .block-4 {
    width: 33.33333%; }
  .block-5 {
    width: 41.66667%; }
  .block-6 {
    width: 50%; }
  .block-7 {
    width: 58.33333%; }
  .block-8 {
    width: 66.66667%; }
  .block-9 {
    width: 75%; }
  .block-10 {
    width: 83.33333%; }
  .block-11 {
    width: 91.66667%; }
  .block-12 {
    width: 100%; } }