---
layout: default
---

<!-- <div class="notification center blue">Volume 3 is now available! <a href="/2016/10/16/v3-pre-release/">Learn more</a>.</div> -->

<div class="holiday-special banner">
  <div class="container">
    <h3 class="holiday-title">Mappy holidays!</h3>
    <p>Order Volume 3 and get a $20 discount* on Volume 2 with discount code <span>MAPPYHOLIDAYS</span>!</p>
    <p><small>* Discount only applies to a single copy of Volume 2 when ordered with Volume 3. Offer ends 12/16/2016 @ 3pm PST.</small></p>
  </div>
</div>

<header id="intro" style="background-image:url(/img/header_jake-coolidge-columbia-watershed.jpg);">
  <div class="container row">
    <!-- <div class="block-8"> -->
      <h1>{{site.name}}</h1>
      <p class="sub-text">{{page.subtitle}}</p>
    <!-- </div> -->
  </div>
</header>

<section id="sub-header">
  <div class="container">
    The Atlas of Design is dedicated to showing off some of the world’s most beautiful and intriguing cartographic design. Every two years, we publish a new volume of full-color maps, selected from worldwide competition and judged by an expert panel.

    <div class="acclaims">
      <p>Featured in</p>
      <a href="http://news.nationalgeographic.com/2016/11/best-new-maps-atlas-design/" class="acclaim" target="_blank"><img src="img/logo-natgeo.png"></a>
      <a href="https://www.wired.com/2016/11/atlas-design-back-wonderfully-funky-maps/" class="acclaim" target="_blank"><img src="img/logo-wired.png"></a>
      <a href="https://flowingdata.com/2012/10/25/insisting-on-beautiful-maps/" class="acclaim" target="_blank"><img src="img/logo-flowingdata.png"></a>
      <a href="http://www.dailymail.co.uk/news/article-3974106/Atlas-Design-features-Amelia-Earheart-s-final-flight-UFO-sightings-Europe-Great-War.html" class="acclaim" target="_blank"><img src="img/logo-daily-mail.png"></a>
    </div>
    
  </div>
</section>

<section id="order-the-atlas">
  <div class="row">
    <div class="block-3 order-box cf">
      <h3>Volume 3</h3>
      <p>Order the newest volume of the Atlas of Design, released in Fall 2016!</p>
      <p class="price">$<span>35</span></p>
      <a href="http://atlasofdesign.bigcartel.com/product/atlas-of-design-volume-3" target="_blank" class="order-button button button-darkred">Order Volume 3</a>
    </div>

    <div class="block-3 order-box cf holiday-special">
      <h3>Holiday discount!</h3>
      <p>Order both volumes 2 and 3 for a discounted price using code "MAPPYHOLIDAYS"</p>
      <p><small>Discount only applies to a single copy of Volume 2 when ordered with Volume 3. Offer ends 12/16/2016 @ 3pm PST.</small></p>
      <p class="price">$<span>50</span></p>
      <a href="http://atlasofdesign.bigcartel.com" class="order-button button button-flipped">Shop now</a>
    </div>
    <div class="block-3 order-box cf coming-soon">
      <h3>Volume 2</h3>
      <p>Volume 2 is available again!</p>
      <p><small>We are considering Volume 2 "lightly used" since it has been in our warehouse for over 2 years.</small></p>
      <p class="price">$<span>35</span></p>
      <span href="http://atlasofdesign.bigcartel.com/product/atlas-of-design-volume-2" class="order-button button button-flipped">Order volume 2</span>
    </div>
  </div>

  <p><small><em>All NACIS members can recieve a 25% discount on their orders if you use the order provided on nacis.org when you are logged in.</em></small></p>
</section>

<section id="description">
  <div class="container">
    {{content}}
  </div>

  <div class="description-images">
    <div class="description-image description-image-full" style="background-image:url(/img/home-img-full.jpg);"></div>
    <div class="description-image description-image-half" style="background-image:url(/img/home-img-aod2v2.jpg);"></div>
    <div class="description-image description-image-half" style="background-image:url(/img/home-img-aod1.jpg);"></div>
  </div>
</section>

<section id="recent">
  <div class="row">
    {% for post in site.posts | limit: 4 %}
      <div class="block-3 recent-post">
        <a href="{{post.url}}">
          <h3 class="recent-post-title">{{post.title}}</h3>
          <div class="recent-post-date">{{ post.date | date: '%B %d, %Y' }}</div>
          <div class="recent-post-excerpt">{{post.content | truncatewords: 20 | strip_html}}</div>
        </a>
      </div>
    {% endfor %}
  </div>
</section> 