---
layout: default
---


<div class="notification center">Submissions are now open for Volume 5. Please <a href="/submit">submit</a> your work.</div> 

<!-- <div class="holiday-special banner">
  <div class="container">
    <h3 class="holiday-title">Mappy holidays!</h3>
    <p>text</p>
    <p><small>small text</small></p>
  </div>
</div>
 -->
<header id="intro" style="background-image:url(/img/header_jake-coolidge-columbia-watershed.jpg);">
  <div class="container row">
    <!-- <div class="block-8"> -->
      <h1>{{site.name}}</h1>
      <p class="sub-text">{{page.subtitle}}</p>
    <!-- </div> -->
  </div>
</header>

<section id="sub-header">
  <div class="container">
    The Atlas of Design is dedicated to showing off some of the world’s most beautiful and intriguing cartographic design. Every two years, we publish a new volume of full-color maps, selected from worldwide competition and judged by an expert panel.

    <div class="acclaims">
      <p>Featured in</p>
        <a href="https://www.atlasobscura.com/articles/best-new-maps-2018" class="acclaim" target="_blank"><img src="img/logo-atlasobscura.png" alt="Atlas Obscura"></a>
      <a href="http://news.nationalgeographic.com/2016/11/best-new-maps-atlas-design/" class="acclaim" target="_blank"><img src="img/logo-natgeo.png" alt="National Geographic"></a>
      <a href="https://www.wired.com/2016/11/atlas-design-back-wonderfully-funky-maps/" class="acclaim" target="_blank"><img src="img/logo-wired.png" alt="Wired"></a>
      <a href="https://flowingdata.com/2012/10/25/insisting-on-beautiful-maps/" class="acclaim" target="_blank"><img src="img/logo-flowingdata.png" alt="Flowing Data"></a>
      <a href="http://www.dailymail.co.uk/news/article-3974106/Atlas-Design-features-Amelia-Earheart-s-final-flight-UFO-sightings-Europe-Great-War.html" class="acclaim" target="_blank"><img src="img/logo-daily-mail.png" alt="Daily Mail"></a>
    </div>
    
  </div>
</section>

<section id="view-the-atlas">
  <div class="row">
    <a href="/four"><div class="block-4 cf view-box">
      <h3>Volume 4</h3>
      <div class="view-pic" style="background-image:url(/img/vol4_headerwebsite_viewbox.jpg)"></div>
      <!--<img src="/img/vol4_headerwebsite_viewbox.jpg" />-->
      
      
    </div></a>
    <a href="/three"><div class="block-4 cf view-box" >
      <h3>Volume 3</h3>
      <div class="view-pic" style="background-image:url(/img/vol3_headerwebsite_viewbox.jpg)"></div>
      <!--<img class="" src="/img/vol3_headerwebsite_viewbox.jpg" />-->
      
        </div></a>

    <a href="/two"><div class="block-4 cf view-box">
      <h3>Volume 2</h3>
      <div class="view-pic" style="background-image:url(/img/vol2_headerwebsite_viewbox.jpg)"></div>
    <!-- <img src="/img/vol2_headerwebsite_viewbox.jpg" />-->
      
      
        </div></a>
    <a href="/one"><div class="block-4 cf view-box">
      <h3>Volume 1</h3>
      <div class="view-pic" style="background-image:url(/img/vol1_headerwebsite_viewbox.jpg)"></div>
      <!--<img src="/img/vol1_headerwebsite_viewbox.jpg" />-->
      
      
    </div></a>

  </div>

  
</section>

<section id="description">
  <div class="container">
    {{content}}
  </div>

  <div class="description-images">
    <div class="description-image description-image-full" style="background-image:url(/img/home-img-full.jpg);"></div>
    <div class="description-image description-image-half" style="background-image:url(/img/home-img-aod2v2.jpg);"></div>
    <div class="description-image description-image-half" style="background-image:url(/img/home-img-aod1.jpg);"></div>
  </div>
</section>

<section id="recent">
  <div class="row">
    {% for post in site.posts  limit: 4 %}
      <div class="block-3 recent-post">
        <a href="{{post.url}}">
          <h3 class="recent-post-title">{{post.title}}</h3>
          <div class="recent-post-date">{{ post.date | date: '%B %d, %Y' }}</div>
          <div class="recent-post-excerpt">{{post.content | truncatewords: 20 | strip_html}}</div>
        </a>
      </div>
    {% endfor %}
  </div>
</section> 
